<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Book</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="<%= url('stylesheet.css') %>" type="text/css">
  </head>
  <body>
    <a href="/"><h1>Recipe Book</h1></a>

    <%= yield %>
  </body>
</html>
